<div class="ui message">
    <form class="ui form" method="post" action="/inscriptionscontroller/do">
        <div class="field">
            <label>Nom ou pseudo</label>
            <input type="text" name="pseudo" placeholder="Nom ou pseudo">
        </div>
        <div class="field">
            <label>Votre email</label>
            <input type="text" name="email" placeholder="Email">
        </div>
        <button class="ui green button" type="submit">Valider l'inscription</button>
    </form>
</div>